<footer class="site_footer">
    <div class="site_footer_icerik">
        <div class="site_footer_ust">
            <span class="site_footer_marka">PawsMap</span>
            <p class="site_footer_telif">© 2026 PawsMap. Tüm hakları saklıdır.</p>
        </div>

        <nav class="site_footer_linkler">
            <a class="site_footer_link" href="#">Misyonumuz</a>
            <a class="site_footer_link" href="#">Başarı Hikâyeleri</a>
            <a class="site_footer_link" href="#">Gizlilik</a>
        </nav>
    </div>
</footer>
