<header class="site_header">
    <div class="site_header_icerik">
        <div class="site_header_marka">
            <span class="site_marka_ikon material-symbols-outlined">pets</span>
            <span class="site_marka_yazi">PawsMap</span>
        </div>

        <nav class="site_nav">
            <a class="site_nav_link" href="#">Harita</a>
            <a class="site_nav_link" href="#">Koloniler</a>
            <a class="site_nav_link site_nav_link--aktif" href="#">Giriş</a>
        </nav>
    </div>
</header>
